
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}
h1 {
  font-size: 6rem;
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.app:before {
  content: '';
  background: url('./assets/bgd.jpg');
  position: absolute;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  
}
.container {
max-width: 700px;
height: 500px;
margin: auto;
padding: 0 1rem;
position: relative;
top: 10%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.app .top {
  width: 100%;
  margin: 1rem auto;
}
.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff24;

}
.bold {
  font-weight: 650;
}
.app .input {
  text-align: center;
  max-width: 700px;
  height: 80px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  display: flex;
}
.app input {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2px solid black;
  background: #ffffff24;

}
.app button {
  height: 40px;
  margin: 1.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: #374346f6; 
  border: 2px solid #ffffff6d;
  background-color:rgb(222, 219, 219);
  border-radius: 8px;
  cursor: pointer;
}
.app button:hover{
  background-color:white;
}
.app button:active{
  animation-name: buttonClick;
  animation-duration: 0.3s;
}
@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}